html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

.border-radius {
  border-radius: 10px;
  box-shadow: 0px 0px 10px 5px #62b0cb;
}

.border-radius img {
  box-shadow: inset 0px 0px 15px 5px #62b0cb;
}

footer {
  margin-top: auto;
  margin-left: 0;
}

/*PC*/
@media (min-width: 1000px) {
  body {
    margin-top: 100px;
    margin-left: 300px;
    text-align: center;
  }

  .Left {
    float: left;
  }

  .Right {
    float: right;
  }

  .Right-image {
    float: right;
    margin: 20px;
  }

  .text-left {
    text-align: left;
  }

  .text-left {
    font-size: 20px;
    list-style-type: none;
  }

  .text-left li {
    font-size: 10px;
    list-style-type: none;
  }
}

/*타블렛*/
@media (min-width: 500px) {
  body {
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 100px;
    text-align: center;
  }

  .Left {
    float: left;
  }

  .Right {
    float: right;
  }

  .Right-image {
    float: right;
    margin: 20px;
  }

  .text-left {
    text-align: left;
  }

  .text-left li {
    font-size: 20px;
    list-style-type: none;
  }
}

/**모바일 */
@media (max-width: 500px) {
  body {
    margin: 0;
    text-align: center;
  }

  .Left {
    margin: 0;
  }

  .Right {
    margin: 0;
  }

  .text-left {
    text-align: center;
  }
  .text-left li {
    list-style-type: none;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  overflow: auto;
  background: linear-gradient(
    315deg,
    rgb(245, 168, 240) 3%,
    rgba(60, 132, 206, 1) 38%,
    rgba(48, 238, 226, 1) 68%,
    rgba(255, 25, 25, 1) 98%
  );
  animation: gradient 15s ease infinite;
  background-size: 400% 400%;
  background-attachment: fixed;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 100%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.wave {
  background: rgb(255 255 255 / 25%);
  border-radius: 1000% 1000% 0 0;
  position: fixed;
  width: 200%;
  height: 12em;
  animation: wave 10s -3s linear infinite;
  transform: translate3d(0, 0, 0);
  opacity: 0.8;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.wave:nth-of-type(2) {
  bottom: -1.25em;
  animation: wave 18s linear reverse infinite;
  opacity: 0.8;
}

.wave:nth-of-type(3) {
  bottom: -2.5em;
  animation: wave 20s -1s reverse infinite;
  opacity: 0.9;
}
@keyframes wave {
  2% {
    transform: translateX(1);
  }

  25% {
    transform: translateX(-25%);
  }

  50% {
    transform: translateX(-50%);
  }

  75% {
    transform: translateX(-25%);
  }

  100% {
    transform: translateX(1);
  }
}
