:root {
  --background: #ffffff;
  --foreground: #171717;
}

.border-radius {
  border-radius: 10px;
}

/*PC*/
@media (min-width: 1000px) {
  body {
    margin-top: 100px;
    margin-left: 300px;
    text-align: center;
  }

  .Left {
    float: left;
  }

  .Right {
    float: right;
  }

  .Right-image {
    float: right;
    margin: 20px;
  }

  .text-left {
    text-align: left;
  }

  .text-left {
    font-size: 20px;
    list-style-type: none;
  }

  .text-left li {
    font-size: 10px;
    list-style-type: none;
  }
}

/*타블렛*/
@media (min-width: 500px) {
  body {
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 100px;
    text-align: center;
  }

  .Left {
    float: left;
  }

  .Right {
    float: right;
  }

  .Right-image {
    float: right;
    margin: 20px;
  }

  .text-left {
    text-align: left;
  }

  .text-left li {
    font-size: 20px;
    list-style-type: none;
  }
}

/**모바일 */
@media (max-width: 500px) {
  body {
    margin: 0;
    text-align: center;
  }

  .Left {
    margin: 0;
  }

  .Right {
    margin: 0;
  }

  .text-left {
    text-align: center;
  }
  .text-left li {
    list-style-type: none;
  }
}
